# IDEs
.idea/

# Caches do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos pesados de ML e Executáveis
*.bin
*.exe
*.dcu
*.res

# Pastas de build da IDE
out/

# Ignorar bases de dados originais (opcional)
data/Amostras/*.xlsx

resources/PortiLexicon-UD/AUX.tsv

# Arquivos reservados para features futuras
resources/palavras.txt
resources/psych_verbs.txt
resources/pt.txt

# Arquivos de configuração do Enelvo (desativado no momento)
resources/force-list.txt
resources/ignore-list.txt